body{
    font-family: Arial;
}
a{
    text-decoration: none;
}
.Header{
    width: 1450px;
    display: inline;
    max-height: 10px;
}
.Header li{
    color: black;
    list-style-type: none;
    font-size: 20px;
    font: weight 800px;;
    display: inline;
    float: right;
    margin-top: -80px;
}
.Reviews1{
   margin-right: 230px;
}
.Discounts1{
    margin-right: 355px;
}
.Tours1{
    margin-right: 500px;
}
.Destinations1{
    margin-right: 610px;
}
.Top{
    color: black;
    font-weight:bolder;
    font-size: xx-large;
    margin-left: 75px;
    margin-top: 50px;
    display: inline-block;
}
#BookNow:hover{
    color: #B9B9B9;
}
#BookNow{
    background-color: black;
    color: aliceblue;
    font-size: 17px;
    border: 0px;
    padding: 18px 23px;
    border-radius: 10px;
    float: right;
    margin-right: 60px;
    margin-top: -95px;
}
.FirstContainer{
    display: block;
    text-align: center;
    margin-top: 60px;
}
.FirstContainer p{
    font-size: large;
}