body{
    font-family: Arial;
}
a{
    text-decoration: none;
}
.Header{
    width: 1450px;
    display: inline;
    max-height: 10px;
}
.Header li{
    color: black;
    list-style-type: none;
    font-size: 20px;
    font: weight 800px;;
    display: inline;
    float: right;
    margin-top: -75px;
}
.Reviews1{
   margin-right: 230px;
}
.Discounts1{
    margin-right: 355px;
}
.Tours1{
    margin-right: 500px;
}
.Destinations1{
    margin-right: 610px;
}
.Top{
    color: black;
    font-weight:bolder;
    font-size: xx-large;
    margin-left: 75px;
    margin-top: 45px;
    display: inline-block;
}
#BookNow:hover{
    color: #B9B9B9;
}
#BookNow{
    background-color: black;
    color: aliceblue;
    font-size: 17px;
    border: 0px;
    padding: 18px 23px;
    border-radius: 10px;
    float: right;
    margin-right: 60px;
    margin-top: -90px;
}



.FirstContainer{
    display: block;
    text-align: center;
    margin-top: 60px;
}
.FirstContainer h1{
    font-size: 60px;
    font-weight: bolder;

}
.FirstContainer p{
    font-size:x-large;
    padding-top: 10px;
    font-weight:lighter;
    padding-bottom: 20px;
    line-height: 40px;
}
.FirstContainer button{
    background-color: black;
    color: aliceblue;
    font-size: 23px;
    border: 0px;
    padding: 25px 38px;
    border-radius: 10px;
}
.FirstContainer button:hover{
    color: #B9B9B9;
}


.RioPicture{
    margin-top: 80px;
}


.SecondContainer{
    margin-top: 120px;
    width: 1300px;
    margin-left: 80px;
}
.SecondContainer h1{
    font-size: 50px;
    margin-left: 8px;
}
.Elements2{
    display: inline-block;
}
.ConteinerElement{
    display: inline-block;
    padding: 12px;
}
.ConteinerElement img{
    width: 405px;
    height: 405px;
    object-fit: cover;
    border-radius: 10px;
}
.ConteinerElement h3{
    color: black;
    font-size: 26px;
    font-weight: lighter;
}
.ConteinerElement p{
    color: #828282;
    font-size: 26px;
    line-height: 40px;
    font-weight: lighter;
    margin-top: -15px;
}


.ToursContainer{
    display: inline-block;
    margin-top: 95px;
}
.ToursContainer img{
    width: 751px;
    height: 704px;
    object-fit: cover;
}
.Container3{
    display: inline-block;
    margin-left: 100px;
}
.Container3 button{
    background-color: black;
    color: aliceblue;
    font-size: 23px;
    border: 0px;
    padding: 18px 23px;
    border-radius: 10px;
    margin-left: 180px;
    margin-top: -90px;
}
.Container3 button:hover{
    color: #B9B9B9;
}
.Container3 h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.ConteinerElement3{
    margin-bottom: 55px;
    margin-top: -10px;
}
.ConteinerElement3 h3{
    color: black;
    font-size: 26px;
    font-weight: lighter;
}
.ConteinerElement3 p{
    color: #828282;
    font-size: 26px;
    line-height: 40px;
    font-weight: lighter;
    margin-top: -15px;
    margin-bottom: 10px;
}


.Container4{
    display: inline-block;
    width: 1460px;
    margin-top: 120px;
}
.Container4 h1{
    font-size: 50px;
    margin-bottom: 50px;
    margin-left: 65px;
}
.Elements4{
    display: inline-block;
}
.ConteinerElement4{
    float: left;
    padding-left: 70px;
}
.Container4 h2{
    color: white;
    margin-bottom: -20px;
    margin-left: 20px;
    z-index: 2;
    display: block;
    position: absolute;
}
.ConteinerElement4 img{
    width: 624.5px;
    height: 341px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}
.ConteinerElement4 h3{
    color: black;
    font-size: 26px;
    font-weight: lighter;
}
.ConteinerElement4 p{
    color: #828282;
    font-size: 26px;
    line-height: 40px;
    font-weight: lighter;
    margin-top: -15px;
    margin-bottom: 10px;
}


.Container5 h1{
    font-size: 50px;
    margin-left: 65px;
    margin-top: 90px;
}
.Elements5{
    display: inline-block;
    margin-left: 35px;
}
.ConteinerElement5{
    border: 1.5px solid #E6E6E6;
    border-radius: 13px;
    float: left;
    width: 410px;
    height: 250px;
    margin-left: 40px;
    position: relative;
}
.ConteinerElement5 p{
    font-size: 26px;
    line-height: 40px;
    font-weight: lighter;
    margin-left: 25px;
}
.ConteinerElement5 img{
    position: absolute;
    float: left;
    margin-left: 25px;
}
#Name{
    color: black;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    margin-left: 90px;
    margin-top: -8px;
}
#Country{
    color: #828282;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    margin-left: 90px;
}


.Container6{
    display: inline-block;
    align-items: center;
    align-content: baseline;
    background-color: #F7F7F7;
    width: 1470px;
    height: 250px;
    margin-top: 90px;
}
.Container6 h1{
    float: left;
    font-size: 45px;
    margin-left: 80px;
    margin-top: 100px;
}
.Container6 button{
    float: left;
    margin-top: 93px;
    margin-left: 250px;
}
.Button6_1{
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    border: 0px;
    padding: 22px 27px;
    border-radius: 10px;
}
.Button6_2{
    background-color: #E6E6E6;
    color: black;
    padding: 22px 27px;
    border-radius: 10px;
    font-size: 25px;
    border: 0px;
    margin-left: 40px !important;
}


.logo_f{
    display: inline-block;
    font-size: 40px;
    margin-left: 80px;
    margin-top: 40px;
}
.list_f{
    float: right;
    margin-right: 160px;
    margin-top: 30px;
    padding-bottom: 25px;
}
.list_f li{
   color: black;
   list-style: none;
   margin-bottom: 30px;
   font-size: 18px;
}
.icons_f{
    margin-left:74px;
    margin-top: 80px;
}
.info{
    color: gray;
    margin-left: 85px;
    margin-top: 8px;
}